* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 1375px;
}

header {
  margin: 0 auto;
  background-color: #003366;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Gambar/book-bg.jpg);
  height: 200px;
  padding: 55px;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  color: white;
}

header h1 {
  filter: drop-shadow(-2px 4px 3px rgb(0, 0, 0));
}

header h6 {
  font-size: 14px;
  filter: drop-shadow(-2px 4px 3px rgb(0, 0, 0));
}

nav {
  line-height: 30px;
  background-color: #2f8ce9;
  height: 40px;
  width: 100%;
  float: left;
  padding: 5px;
  line-height: 40px;
  position: sticky;
  top: 0px;
  box-shadow: 1px 1px 5px rgb(84, 84, 84);
  z-index: 999;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-right: 20px;
  transition: 0.2s;
}

nav ul li a:hover {
  color: rgb(230, 230, 230);
  padding: 10px;
}

form {
  width: 300px;
  float: left;
}

.search {
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 35px;
}

.b-search {
  background-color: #fff;
  color: rgb(4, 4, 4);
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  cursor: pointer;
}

.list-buku {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.content {
  width: 1350px;
  float: left;
  padding: 10px;
}

.kartu {
  width: 275px;
  float: left;
  box-shadow: 0px 0px 1px rgb(84, 84, 84);
  padding: 5px;
  margin: 10px;
  transition: 0.5s;
  background-color: rgb(252, 252, 252);
}

.kartu:hover {
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.deskripsi {
  width: 300px;
  float: center;
}

.deskripsi h2 {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.deskripsi p {
  font-size: 14px;
  margin: 10px;
  text-align: left;
}

.kartu .deskripsi a img {
  width: 50%;
  margin: 20px;
  transition: 0.5s;
}

.kartu .deskripsi a img:hover {
  transform: scale(1.2);
}

.kartu table {
  width: 100%;
  margin: 0px 5%;
  line-height: 25px;
}

.ada {
  color: rgb(19, 204, 2);
}

.dipinjam {
  color: rgb(255, 0, 0);
}

.n-page {
  width: 100%;
  float: left;
  padding: 20px;
}

.n-page ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.n-page ul li {
  display: inline;
}

.n-page ul li a {
  text-decoration: none;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(33, 33, 33);
  padding: 6px;
  transition: 0.2s;
}

/* Mengatur gaya untuk menu dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #007bff;
  min-width: 20px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  padding: 3px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

footer {
  background-color: #085caf;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

footer ul li {
  display: inline;
}

/* untuk clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  zoom: 1;
}
